MAX_ACTIVE_LABS=3
LAB_DEFAULT_DURATION=30m
ELASTICSEARCH_URL=http://127.0.0.1:9201
GRAFANA_URL=http://127.0.0.1:3000
DOCKER_NETWORK_RANGE=172.20.0.0/16
CYBERLAB_DATA_DIR=~/.cyberlab
CYBERLAB_REPORTS_DIR=./reports
